.app-fields {
  opacity: 0; /* Initial state: transparent */
  animation: fadeIn 10s ease-in forwards; /* Apply the animation */
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Start with fully transparent */
  }
  100% {
    opacity: 1; /* End with fully opaque */
  }
}
